@font-face {
    font-family: "Dinpro_medium"; 
    src: url("../fonts/dinpro_condensedmedium.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Dinpro_light"; 
    src: url("../fonts/dinpro_condensedlight.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Dinpro_medium";
}

.start, .overlay_end, .overlay_form, .overlay_sale {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.start {
    background: #48EAFF;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===images */
.start_sun {
    position: absolute;
    width: 50%;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.start_ballon-one {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 13%;
    animation: ballon 3s ease-in-out infinite 0.5s;
}
.start_ballon-two {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 10%;
    transform: rotate(45deg);
    animation: ballon2 3s ease-in-out infinite 0.5s;
}

.start_cloud {
    width: 60%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.start_cloud-left {
    position: absolute;
    left: -20%;
    bottom: 5%;
    width: 35%;
}
.start_cloud-right {
    position: absolute;
    right: -10%;
    bottom: 20%;
    width: 25%;
}

.start_airshipping {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation: airshipp 3s ease-in-out infinite 0.5s;
}
.start_char {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    
    z-index: 1;
}
/* ===images */


.start_go {
    text-align: center;
    padding-top: 180px;
    z-index: 100;
}

.start_title {
    font-size: 112px;
    text-transform: uppercase;
}
.start_subtitle {
    font-family: "Dinpro_light";
    font-size: 36px;
    margin-bottom: 30px;
}
.start_btn {
    font-family: "Dinpro_medium";
    width: 190px;
    height: 64px;
    text-transform: uppercase;
    font-size: 36px;
    border-radius: 30px;
    border: 4px solid #000;
    transition: .3s;
    background: #fff;
    cursor: pointer;
}
.start_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}


/* end game  */
.overlay_end {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background: url("../images/end_bg.png") 50% 50% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay_end .game_over {
    width: 35vw;
}

.game_over_btn {
    font-family: "Dinpro_medium";
    width: 190px;
    height: 64px;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 30px;
    border: 4px solid #FF0452;
    transition: .3s;
    background: #fff;
    cursor: pointer;
}
.game_over_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}










/* ////keyframes=========== */
@keyframes ballon {
    0% {
        transform: rotate(0deg) translateY(0px)
        
    }
    50% {
        transform: rotate(10deg) translateY(20px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}
@keyframes ballon2 {
    0% {
        transform: rotate(45deg) translateY(0px)
        
    }
    50% {
        transform: rotate(35deg) translateY(-20px);
    }
    100% {
        transform: rotate(45deg) translateY(0px);
    }
}
@keyframes airshipp {
    0% {
        transform: translateX(-50%) translateY(0px);
        
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0px);
    }
}


/* sales */
.overlay_sale {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background: #48EAFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.overlay_sale-title {
    margin-top: 150px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.overlay_sale-title .title-pink {
    color: #FF0452;
}
.title-light {
    text-align: center;
    font-family: "Dinpro_light";
    font-size: 30px;
}
.title-light--two {
    text-align: center;
    font-family: "Dinpro_light";
    font-size: 24px;
}

.overlay_sale_btn {
    font-family: "Dinpro_medium";
    width: 190px;
    height: 64px;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 30px;
    border: 4px solid #FF0452;
    transition: .3s;
    background: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.overlay_sale_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}

/* smoke */
.smoke {
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* hands  */
.hand_two {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 30%;
    animation: hands2 3s ease-in-out infinite 0.5s;
}
.hand_three {
    position: absolute;
    right: 0;
    top: 10px;
    width: 40%;
    animation: hands 3s ease-in-out infinite 0.5s;
}
/* fire  */
.fire-wrapper {
    display: flex;
}
.mo-fire {
    width: 260px;
    height: auto;
    position: absolute;
    left:50%;
    margin-left: -100px;
    bottom: -100px;
}
.mo-fire--two{
    width: 200px;
    height: auto;
    position: absolute;
    left:45%;
    margin-left: -100px;
    bottom: -100px;
    transform: scale(-1, 1);
}
.mo-fire--three{
    width: 240px;
    height: auto;
    position: absolute;
    left:50%;
    margin-left: -100px;
    bottom: -100px;
    transform: scale(-1, 1);
}
.mo-fire--smoke{
    width: 100%;
    height: auto;
}
.mo-fire svg {
    width: 100%;
    height: auto;
    position: relative
}
.mo-fire--two svg {
    width: 100%;
    height: auto;
    position: relative
}
.mo-fire--three svg {
    width: 100%;
    height: auto;
    position: relative
}
.mo-fire--smoke svg {
    width: 100%;
    height: auto;
    position: relative
}
.flame {
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
}
.flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
}
.flame3.two{
    animation-duration: 5s;
    animation-delay: 1s;
}

.flame-main {
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.flame-main.one {
    animation-duration: 4s;
    animation-delay: 1s;
}
.flame-main.two {
    animation-duration: 3s;
    animation-delay: 2s;
}
.flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
}
.flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
}
.flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
}
@keyframes flameWobble {
    50% {
        transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
    }
}
@keyframes flamefly {
    0%{
        transform: translate(0) rotate(180deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-20px, -100px) rotate(180deg);
        opacity: 0;
    }
}

@keyframes hands {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) translateX(10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes hands2 {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px) translateX(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


/* overlay_form */
.overlay_form {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background: #48EAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay_form-fire {
    width: 100px;
    height: 100px;
}
.overlay_form-fire img {
    width: 100%;
    height: 100%;
    object-fit: contain
}
.overlay_form-kebab { 
    margin-top: 5px; 
    width: 340px; 
    height: 50px; 
    margin-bottom: 20px
} 
.overlay_form-kebab img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}
.overlay_form-title {
    font-size: 36px;
    text-align: center;
    line-height: 96%;
    margin-bottom: 20px;
}
form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    font-family: "Dinpro_medium";
    width: 100%;
    padding: 0 10px;
    height: 40px;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid #000;
    transition: .3s;
    background: #fff;
    cursor: pointer;  
    margin-bottom: 10px;
}
label {
    font-family: "Dinpro_light";
    font-size: 24px;
}

.form_btn {
    margin-top: 10px;
    font-family: "Dinpro_light";
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 30px;
    border: 2px solid #000;
    transition: .3s;
    background: #fff;
    cursor: pointer;
    transition: .2s;
}
.form_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}
/* media================ */

@media(max-width: 900px) {
    .start_go {
        padding-top: 300px;
    }
    .start_title {
        font-size: 72px;
    }
    .start_subtitle {
        font-size: 24px;
    }
    /* ===images */
    .start_char {
        width: 80%;
    }
    .start_sun {
        width: 40%;
        top: -10px;
    }
    .start_airshipping {
        width: 40%;
    }
    .start_cloud {
        width: 80%;
        top: 2%;
        left: 50%;
    }
    
    .start_cloud-left {
        position: absolute;
        left: -20px;
        bottom: 10%;
        width: 40%;
    }
    .start_cloud-right {
        position: absolute;
        right: -10px;
        bottom: 30%;
        width: 40%;
    }
    .start_ballon-one {
        left: 7%;
        top: 30%;
        width: 13%;
    }
    .start_ballon-two {
        right: 7%;
        top: 30%;
        width: 10%;
    }
    .hand_two {
        bottom: 10%;
        width: 40%;
    }
}

@media(max-width: 560px) {
    .start_go {
        padding-top: 120px;
    }
    .start_title {
        line-height: 85%;
        padding: 0 30px;
        font-size: 64px;
        margin-bottom: 30px;
    }
    .start_subtitle {
        padding: 0 30px;
        font-size: 36px;
        margin-bottom: 30px;
    }
    /* ===images */
    .start_char {
        width: 90%;
        bottom: 0;
    }
    .start_sun {
        width: 80%;
        top: -10px;
    }
    .start_airshipping {
        width: 80%;
    }
    .start_cloud {
        width: 100%;
        top: -20px;
        left: 50%;
    }
    
    .start_cloud-left {
        position: absolute;
        left: -20px;
        bottom: 20%;
        width: 50%;
    }
    .start_cloud-right {
        position: absolute;
        right: -10px;
        bottom: 30%;
        width: 50%;
    }
    .start_ballon-one {
        left: 7%;
        top: 20%;
        width: 25%;
    }
    .start_ballon-two {
        right: 7%;
        top: 60%;
        width: 20%;
    }


    /* game over  */
    .overlay_end .game_over {
        width: 75vw;
    }

    .hand_two {
        bottom: 5%;
        width: 80%;
    }
    .hand_three {
        top: 5%;
        width: 80%;
    }
    .overlay_sale-title {
        margin-top: 220px;
    }
    .smoke {
        bottom: 0;
    }


    .mo-fire {
        width: 190px;
        bottom: -100px;
    }
    .mo-fire--two{
        width: 160px;
        bottom: -100px;
    }
    .mo-fire--three{
        width: 170px;
        bottom: -100px;
    }
}

.audio_btn { 
    position: absolute; 
    z-index: 10000; 
    bottom: 5%; 
    right: 5%; 
    width: 60px; 
    height: 60px; 
    padding: 10px; 
    border-radius: 100%; 
    background: yellow; 
    border: none; 
} 
.audio_btn img { 
    width: 100%; 
    height: 100%; 
}