* {
    margin: 0;
    padding: 0
}

main {position: relative}

main, .overlay {
    width: 100vw;
    height: 100vh
}

main, .scenery {background: #afcfff}

.scenery {
    width: 100%;
    height: 15%;
    /* background: #99dd99; */
    bottom: 0;
    z-index: 10
}

.box {top: -32px}

.stuff-box, .tomato-box {background:#efefef}
.hero-box {background:#dd0000}
.meat-box {background:#00dd00}

.player-stick, .box, .scenery, .slice {position: absolute}

.player-stick { 
    width: 100px;
    height: 200px;
    background: transparent url("/assets/hand.png") center center no-repeat;
    background-size: cover;
    bottom: 0;
    z-index: 11;
    left: 47%
}

.slices {
    position: relative;
    width: 36px;
    transform: translateX(-6px);
    height: 100%
}

.hidden {display:none}

.slice {
    width: 100%;
    height: 20px;
    left: 30px
}

.slice-1 {top:5px}
.slice-2 {top:22px}
.slice-3 {top:44px}
.slice-4 {top:66px}
.slice-5 {top:88px}
.slice-6 {top:110px}
.slice-7 {top:132px}

.overlay {
    position: fixed;
    display: flex;
    /* z-index: 100; */
    background: #111;
    opacity: .7;
}

.end-screen {
    margin: auto;
    width: 70%;
    height: 50%;
    border: 2px solid darkgreen;
    background: #fff;
    z-index: 100;
    opacity: 1
}

.overlay, .end-screen, .success-message, .gameover-message {display: none}

.success-message, .gameover-message {
    padding: 25px;
}