* {
    margin: 0;
    padding: 0
}

html, body {
    overflow: hidden;
}

.game {position: relative}

.game, .overlay {
    width: 100vw;
    height: 100vh
}

.game {background: #48EAFF}


.box {top: -32px}

.stuff-box, .tomato-box {background:#efefef}
.hero-box {background:#dd0000}
.meat-box {background:#00dd00}

/* .player-stick, .box, .scenery, .slice {position: absolute} */
.player-stick, .box, .slice {position: absolute}

.player-stick { 
    width: 100px;
    height: 200px;
    background: transparent url("/src/assets/hand.png") center center no-repeat;
    background-size: cover;
    bottom: 0;
    z-index: 11;
    left: 47%
}

.slices {
    position: relative;
    width: 36px;
    transform: translateX(-6px);
    height: 100%
}

.hidden {display:none}

.slice {
    width: 100%;
    height: 20px;
    left: 30px
}

.slice-1 {top:5px}
.slice-2 {top:22px}
.slice-3 {top:44px}
.slice-4 {top:66px}
.slice-5 {top:88px}
.slice-6 {top:110px}
.slice-7 {top:132px}

.game_cloud {
    
    opacity: .7;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 10%;
    /* transform: scale(1, -1); */
    top: 10%;
    background: url("../images/cloud.png") 50% 50% no-repeat;
    background-size: contain;
    z-index: 100;
    animation: cloidmove4 15s ease-in-out infinite 0.7s;
}
.game_cloud--two {
    width: 10%;
    height: 20%;
    position: absolute;
    right: 50%;
    top: 30%;
    background: url("../images/cloud.png") 50% 50% no-repeat;
    background-size: contain;
    z-index: 100;
    opacity: .7;
    animation: cloidmove3 20s ease-in-out infinite 0.7s;
}
.game_cloud--three {
    width: 20%;
    height: 30%;
    position: absolute;
    right: 5%;
    top: 5%;
    background: url("../images/cloud.png") 50% 50% no-repeat;
    background-size: contain;
    z-index: 100;
    
    opacity: .7;
    animation: cloidmove2 15s ease-in-out infinite 0.7s;
}
.game_cloud--four {
    
    opacity: .7;
    width: 20%;
    height: 20%;
    position: absolute;
    right: 10%;
    top: 35%;
    background: url("../images/cloud.png") 50% 50% no-repeat;
    background-size: contain;
    z-index: 100;
    animation: cloidmove 20s ease-in-out infinite 0.5s;
}
.game_cloud--five {
    
    opacity: .7;
    width: 15%;
    height: 15%;
    position: absolute;
    left: 0%;
    bottom: 30%;
    background: url("../images/cloud.png") 50% 50% no-repeat;
    background-size: contain;
    z-index: 100;
    animation: cloidmove5 20s ease-in-out infinite 0.5s;
}

@keyframes cloidmove {

    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes cloidmove2 {

    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes cloidmove3 {

    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes cloidmove4 {

    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(60%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes cloidmove5 {

    0% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0);
    }
}
@media(max-width: 560px) {
    .game_cloud {
        width: 40%;
        top: 20%;
    }   
    .game_cloud--two{
        width: 40%;
        top: 0;
        
    }   
    .game_cloud--three{
        width: 30%;
        top: 20%;

    }   
    .game_cloud--four{
        width: 30%;
        top: 50%;
        right: 0;

    }   
    .game_cloud--five{
        width: 30%;

    }   
}
